body {
  background: #FFFAFA;
}
.Firstname {

  position: absolute;
  bottom: 91%;
}

.Age {
  position: absolute;
  left: 13%;
  bottom: 90%;

}

#age {
  padding: 8px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 10px 10px 10px 10px;
}

.LastName {
  position: absolute;
  bottom: 83%;
}
#save {
  color: white;
  background: rgb(4, 0, 255);
  border-radius: 4px;
  border: none;
}

.Search {
  position: absolute;
  bottom: 73%;
}

.refresh {
  color: rgb(0, 0, 0);
  background: transparent;
  border-radius: 49px;
  border: none;
  font-size: 45px;
  position: absolute;
  bottom: 74%;
  left: 45%;
  width: 55px;
  height: 55px;
}
#usertable {
  color: black;
  display: flex;
  font-size: 14px;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 8px;
  position: absolute;
  border-radius: 10px;
  left: 2%;
  top: 35%;
  width: 95%;
  /*height: 5%;*/
  background-color: white;
}

#names{
  position: absolute;
  padding-left: 15px;
  padding-right: 8px;
 margin:10 px;
  top: 29%;
  width: 97%;
  display: flex;
  font-size: 14px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #333333;
  color: aliceblue;
}

#id {
  display: flex;
  flex-direction: column;
  /*background-color: darkgray;*/
  width: 18%;
}

#fn {
  position: absolute;
  left: 18%;
  display: flex;
  flex-direction: column;
  /*background-color: darkgray;*/
  width: 20%;
}

#ln {
  position: absolute;
  left: 38%;
  display: flex;
  flex-direction: column;
  width: 25%;
}

#ag {
  position: absolute;
  left: 59%;
  display: flex;
  flex-direction: column;

  width: 20%;
}

#isa {
  position: absolute;
  left: 77%;
  display: flex;
  flex-direction: column;
  width: 18%;
}
p {
  border-bottom: 3px solid black;
  width: 103%;
}
button{
border: aliceblue;
  background: none;
  font-size: 16px;
}


#del {
  display: flex;
  flex-direction: column;
}

#del button{
  margin: 12px 0;
}

input[type=text] {

  padding: 8px 12px;
  margin: 8px 5;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 10px 10px 10px 10px;
}

input[type=text]:focus {
  border: 3px solid #555;
}